body {
	width: 100%;
	background-color: #000;
	background: url('../img/exclusive_paper.png') left top repeat;
	position: relative;

	&::before {
		content: '';
		width: 100%;
		height: 100vh;
		background: url('../img/topbg.jpg') center top no-repeat;
		// filter: blur(3px);
		background-size: 100% 100vh;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: map-get($z-index, 'background');
	}
}

.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	@each $key, $value in $breakpoints {
		@media only screen and (min-width: map-get($breakpoints, $key)) {
			width: map-get($container, $key);
		}
	}
}

.wrapper {
	background: #fff;
	z-index: map-get($z-index, 'container');
	box-shadow: 0 0 12px rgba(black, 0.6);
	@extend .container;
}
