.tooltip {
	position: relative;
	display: inline-block;

	&__text {
		min-width: 120px;
		visibility: hidden;
		background-color: $dark;
		border: 2px solid white;
		color: white;
		text-align: center;
		padding: 10px;
		display: block;
		position: absolute;
		z-index: map-get($z-index, 'content');
		bottom: -15px;
		left: 50%;
		transform: translate(-50%, 100%);
		opacity: 0;
		transition: opacity 250ms ease-in-out;

		&::after {
			content: '';
			width: 10px;
			height: 10px;
			border-right: 2px solid white;
			border-top: 2px solid white;
			position: absolute;
			top: -1px;
			left: 50%;
			background-color: $dark;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&:hover .tooltip__text {
		visibility: visible;
		opacity: 1;
	}
}
