.nav {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba($dark, 0.9);
	color: #ffffff;
	@include aligne2center;
	z-index: map-get($z-index, 'nav');
	margin-left: 100%;
	transition: margin 250ms ease-in-out;
	@media only screen and (min-width: map-get($breakpoints, 'm' )) {
		position: relative;
		height: auto;
		background: transparent;
		margin: 20px 0;
	}

	&__link {
		color: #fff;
		text-decoration: none;
	}

	&__label {
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: map-get($z-index, 'label');
		@media only screen and (min-width: map-get($breakpoints, 'm' )) {
			display: none;
		}
	}

	&__nav-list {
		list-style: none;
		margin: 0;
		padding: 0;

		@media only screen and (min-width: map-get($breakpoints, 'm' )) {
			display: flex;
		}
	}

	&__nav-list-item {
		margin: 0;
		padding: 20px 10px;
		text-align: center;
		@media only screen and (min-width: map-get($breakpoints, 'm' )) {
			padding: 15px 10px;
		}

		&--active {
			background: $special;
			padding: 20px 40px;
			clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%);
			@media only screen and (min-width: map-get($breakpoints, 'm' )) {
				padding: 15px 40px;
			}
		}
	}
}

#nav-btn {
	display: none;
}

#nav-btn:checked ~ .nav {
	display: flex;
	margin-left: 0;
}
