.spot {
	width: 100%;
	padding: 40px 0;

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		@media only screen and (min-width: map-get($breakpoints, 's' )) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			padding-top: 1.5rem;
			width: 90%;
			margin: 0 auto;
		}

		@media only screen and (min-width: map-get($breakpoints, 'l' )) {
			grid-template-columns: repeat(4, 1fr);
		}

		&-item {
			margin: 0;
			text-align: center;
			color: $primary;
		}
	}

	&__icon {
		width: 2.5rem;
		height: 2.5rem;
		padding: 1.25rem;
		border: 3px solid $primary;
		border-radius: 50%;
		position: relative;
		display: inline-block;
	}

	&__svg {
		width: 2.5rem;
		height: 2.5rem;
	}

	&__link {
		text-decoration: none;
		color: $primary;
		position: relative;
		display: block;
		transition: all 250ms;
		width: auto;

		&::after {
			content: '';
			width: 0;
			height: 4px;
			background: $special;
			position: absolute;
			bottom: -1rem;
			left: 50%;
			transform: translateX(-50%);
			transition: all 250ms;
		}

		&:hover {
			&::after {
				width: 80%;
			}
		}
	}
}
